body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(1-Game-of-thrones.jpg);
  
}
.hidden {
  display: none;
}
select {
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: -1000px;
  transform: translate(0, -50%);
  cursor: pointer;
}
.housefact-container {
  font-size: 40px;
  height: 1000px;
  width: 800px;
  position: absolute;
  top: calc(50% + 25px); /* 25px is half the height of the select */
  right: -1190px;
  color: white;
  word-wrap: break-word;
}
.search-form {
  position: relative;
}

.form-container {
  text-align: center;
  align-items: center;
  align-self: auto;
}
h1 {
    top: 40px;
  font-size: 70px;
  font-style: italic;
  color: aliceblue;
}
.facts-container {
  /* position: absolute; */
  font-size: xx-large;
  color: white;
}
ul {
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  border: 10px solid white;
  background-color: black;
  width: 800px;
}
label {
  font-size: 40px;
  color: white;
  font-weight:bold;
}

input {
  font-size: 40px;
  margin-right: 10px;
}

button {
  align-content: center;
  position: sticky;
  font-size: 40px;
  margin: 0;
  right: 0;
  left: 0;
  cursor:pointer;
  padding: 1px;
  border: 5px;
  margin-top: 5px;
  /* display: block;
  width: 240px;
  padding: 0px;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  border-radius: 2px; 
  transform: translateY(-50%);
  box-shadow: 0 10px 20px -5px #94a6af;
  overflow: hidden;  */
}

button:before, 
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button:before {
  transform: scale(1);
  background-image: url("1-Game-of-thrones.jpg");
  background-size: cover;
  transition: 0.3s ease transform;
  z-index: 1;
}

button:after {
  background-color: #000;
  opacity: 0.16;
  z-index: 2;
}

button div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

button div:before,
button div:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 25px 0;
  transition: 0.3s ease all;
}

button.Search > div:before {
    position: absolute;
    top : -20px;
    left: 0;
    width: 100%;
  content: "Search";
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}

button.random-btn > div:before {
    position: absolute;
    top : -20px;
    left: 0;
    width: 100%;
  content: "Random Character";
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}
button.t1Btn > div:before {
    position: absolute;
    top : -20px;
    left: 0;
    width: 100%;
  content: "Ring Toggle";
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}
button.map > div:before {
    position: absolute;
    top : -20px;
    left: 0;
    width: 100%;
  content: "Map of Westeros";
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
}






button.Search {
    position: relative;
  }

button div:after {
    top : -30px;
  content: "Valar morghulis!";
  letter-spacing: -10px;
  transform: scale(0);
  opacity: 0;
}

button:hover:before {
  transform: scale(1);
}

button:hover div:before {
  letter-spacing: 3px;
  opacity: 0;
  transform: scale(1);
}

button:hover div:after {
  letter-spacing: 0;
  opacity: 1;
  transform: scale(1);
} 
